*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

input{
    border: solid 1px black;
    padding: 10px 20px;
}

.text{
    font-size: 30px;
}

button:hover{
    background-color: green;
    transform: rotate(360deg);
    transition: 0.5s;
}

#user_email{
    background-color: red;
}

.title span{
    color: yellow;
}

.title.green{
    color: green;
}

.modal{
    max-width: 500px;
    margin: auto;
    padding-top: 52px;
}
.modal .title{
    text-align: center;
}
.modal .title a{
    font-weight: 500;
    font-size: 20px;
    line-height: 80%;
    color: #3d3d3d;
    text-decoration: none;
}
.modal .title span{
    font-weight: 250;
    font-size: 18px;
    line-height: 89%;
    color: #3d3d3d;
    margin: 0 11px;
}