@font-face {
    font-family: 'cera_round_pro_demoregular';
    src: url('../fonts/ceraroundprodemo-regular1-webfont.eot');
    src: url('../fonts/ceraroundprodemo-regular1-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/ceraroundprodemo-regular1-webfont.woff2') format('woff2'),
    url('../fonts/ceraroundprodemo-regular1-webfont.woff') format('woff'),
    url('../fonts/ceraroundprodemo-regular1-webfont.ttf') format('truetype'),
    url('../fonts/ceraroundprodemo-regular1-webfont.svg#cera_round_pro_demoregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'cera_round_pro_demoblack';
    src: url('../fonts/ceraroundprodemo-black-webfont.eot');
    src: url('../fonts/ceraroundprodemo-black-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/ceraroundprodemo-black-webfont.woff2') format('woff2'),
    url('../fonts/ceraroundprodemo-black-webfont.woff') format('woff'),
    url('../fonts/ceraroundprodemo-black-webfont.ttf') format('truetype'),
    url('../fonts/ceraroundprodemo-black-webfont.svg#cera_round_pro_demoblack') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'cera_round_pro_demobold';
    src: url('../fonts/ceraroundprodemo-bold-webfont.eot');
    src: url('../fonts/ceraroundprodemo-bold-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/ceraroundprodemo-bold-webfont.woff2') format('woff2'),
    url('../fonts/ceraroundprodemo-bold-webfont.woff') format('woff'),
    url('../fonts/ceraroundprodemo-bold-webfont.ttf') format('truetype'),
    url('../fonts/ceraroundprodemo-bold-webfont.svg#cera_round_pro_demobold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'cera_round_pro_demomedium';
    src: url('../fonts/ceraroundprodemo-medium-webfont.eot');
    src: url('../fonts/ceraroundprodemo-medium-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/ceraroundprodemo-medium-webfont.woff2') format('woff2'),
    url('../fonts/ceraroundprodemo-medium-webfont.woff') format('woff'),
    url('../fonts/ceraroundprodemo-medium-webfont.ttf') format('truetype'),
    url('../fonts/ceraroundprodemo-medium-webfont.svg#cera_round_pro_demomedium') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'cera_round_pro_demolight';
    src: url('../fonts/ceraroundprodemo-light-webfont.eot');
    src: url('../fonts/ceraroundprodemo-light-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/ceraroundprodemo-light-webfont.woff2') format('woff2'),
    url('../fonts/ceraroundprodemo-light-webfont.woff') format('woff'),
    url('../fonts/ceraroundprodemo-light-webfont.ttf') format('truetype'),
    url('../fonts/ceraroundprodemo-light-webfont.svg#cera_round_pro_demolight') format('svg');
    font-weight: normal;
    font-style: normal;

}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.modal {
    max-width: 500px;
    margin: auto;
    padding-top: 52px;
    padding-right: 100px;
    padding-left: 100px;
    padding-bottom: 40px;
    border-bottom: solid 10px #46a358;
}

.modal .title{
    text-align: center;
    margin-bottom: 40px;
}

.modal .title a{
    font-weight: 500;
    font-size: 20px;
    line-height: 80%;
    color: #3d3d3d;
    text-decoration: none;
}

.modal .title a:last-of-type{
    color: #46a358;
}

.modal .title span{
    font-weight: 250;
    font-size: 18px;
    line-height: 89%;
    color: #3d3d3d;
    margin: 0 11px;
}

.text_reg{
    font-weight: 400;
    font-size: 13px;
    line-height: 123%;
    color: #3d3d3d;
    margin-bottom: 14px;
}

#user_name{
    border: 1px solid #eaeaea;
    border-radius: 5px;
    width: 300px;
    height: 40px;
    padding: 12px 14px;
    font-weight: 400;
    font-size: 14px;
    line-height: 114%;
    color: #a5a5a5;
    margin-bottom: 16px;
}

#user_email{
    border: 1px solid #eaeaea;
    border-radius: 5px;
    width: 300px;
    height: 40px;
    padding: 12px 14px;
    font-weight: 400;
    font-size: 14px;
    line-height: 114%;
    color: #a5a5a5;
    margin-bottom: 16px;
}

#user_password{
    border: 1px solid #eaeaea;
    border-radius: 5px;
    width: 300px;
    height: 40px;
    padding: 12px 14px;
    font-weight: 400;
    font-size: 14px;
    line-height: 114%;
    color: #a5a5a5;
    margin-bottom: 16px;
}

#user_password_confirmation{
    border: 1px solid #eaeaea;
    border-radius: 5px;
    width: 300px;
    height: 40px;
    padding: 12px 14px;
    font-weight: 400;
    font-size: 14px;
    line-height: 114%;
    color: #a5a5a5;
    margin-bottom: 41px;
}

.register_btn{
    border-radius: 5px;
    border: none;
    width: 300px;
    height: 45px;
    background: #46a358;
    font-weight: 700;
    font-size: 16px;
    line-height: 100%;
    color: #fff;
    text-align: center;
    margin-bottom: 36px;
}

.grey-line{
    display: inline-block;
    border: 1px solid #eaeaea;
    width: 97px;
    height: 0px;
}

.other_register{
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 400;
    font-size: 13px;
    line-height: 123%;
    color: #3d3d3d;
    margin-bottom: 27px;
}

.other_register .other_register_text{
    margin-left: 6px;
    margin-right: 6px;
}

.social_media_link{
    border: 1px solid #eaeaea;
    border-radius: 5px;
    width: 300px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 500;
    font-size: 13px;
    line-height: 123%;
    text-align: center;
    color: #727272;
    text-decoration: none;
}

.social_media_link img{
    margin-right: 9px;
}

.soc_google{
    margin-bottom: 14px;
}

.container{
    max-width: 1200px;
    margin: auto;
    margin-bottom: 12px;
}

header{
    padding-top: 31px;
}

.page_nav{
    list-style-type: none;
    display: flex;
    align-items: center;
}

.page_nav a{
    text-decoration: none;
    font-weight: 400;
    font-size: 16px;
    color: #3d3d3d;
    font-family: 'cera_round_pro_demoregular', sans-serif;
}

.page_nav li{
    margin-right: 50px;
}

.page_nav li:last-of-type{
    margin-right: 0;
}

.page_nav a:hover{
    font-weight: 700;
    font-size: 16px;
    color: #3d3d3d;
    font-family: 'cera_round_pro_demobold', sans-serif;
}

.login_btn{
    border-radius: 6px;
    background: #46a358;
    font-weight: 500;
    font-size: 16px;
    color: #fff;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 7px 17px;
    text-decoration: none;
    font-family: 'cera_round_pro_demomedium', sans-serif;
}

.login_btn::before{
    background-image: url("../images/Logout.svg");
    display: inline-flex;
    width: 20px;
    height: 20px;
    content: "";
    margin-right: 4px;
}

header .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 0.30px solid rgba(70, 163, 88, 0.5);
    padding-bottom: 18px;
}

.main_banner{
    max-width: 1200px;
    margin: auto auto 46px auto;
    display: flex;
    justify-content: space-between;
    background: linear-gradient(135deg, rgba(245, 245, 245, 0.5) 0%, rgba(245, 245, 245, 0.5) 100%);
    padding-left: 40px;
}

.banner_content{
    padding-top: 68px;
}

.banner_content h2{
    font-weight: 500;
    font-size: 14px;
    line-height: 114%;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #3d3d3d;
    margin-bottom: 7px;
    font-family: 'cera_round_pro_demomedium', sans-serif;
}

h1{
    font-weight: 900;
    font-size: 70px;
    line-height: 100%;
    text-transform: uppercase;
    color: #3d3d3d;
    margin-bottom: 5px;
    font-family: 'cera_round_pro_demoblack', sans-serif;
}

h1 span{
    color: #46a358;
}

.banner_content p{
    font-weight: 400;
    font-size: 14px;
    line-height: 171%;
    color: #727272;
    margin-bottom: 44px;
    font-family: 'cera_round_pro_demoregular', sans-serif;
}

.btn_shopnow{
    border-radius: 6px;
    background: #46a358;
    display: inline-flex;
    justify-content: center;
    font-weight: 700;
    font-size: 16px;
    line-height: 125%;
    text-transform: uppercase;
    color: #fff;
    text-decoration: none;
    padding: 10px 26px;
    font-family: 'cera_round_pro_demobold', sans-serif;
}

.banner_img{
    max-width: 100%;
    height: auto;
    display: flex;
    align-items: flex-end;
    position: relative;
}

.banner_img img{
    max-width: 100%;
    height: auto;
}

.banner_img .small_img {
    position: absolute;
    top: 298px;
    left: 55px;
    width: 27%;
}

.banner_img .big_img {
    width: 100%;
    height: auto;
}

.products{
    max-width: 1200px;
    margin: auto;
    display: flex;
    justify-content: space-between;
}

.aside_bar{
    background: #fbfbfb;
    padding-top: 14px;
    padding-left: 18px;
    margin-bottom: 377px;
}

.product_list{
    max-width: 840px;
    width: 100%;
}

.categories{
    list-style-type: none;
}

.aside_bar a{
    font-family: 'cera_round_pro_demoregular', sans-serif;
    text-decoration: none;
    font-weight: 400;
    color: #3d3d3d;
    font-size: 15px;
    line-height: 267%
}

.aside_bar > a:first-child{
    font-family: 'cera_round_pro_demobold', sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 89%;
    color: #3d3d3d;
}

.categories a:hover{
    color: #46a358;
    font-weight: 700;
}

.categories li{
    margin-left: 12px;
    margin-top: 7px;
}

.sale_banner img{
    display: block;
    width: 100%;
}

.aside_container{
    max-width: 310px;
}

.product_sort{
    display: flex;
    justify-content: space-between;
    margin-bottom: 62px;
}

.product_choose{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    flex-wrap: wrap;
}

.product_choose h3{
    font-family: 'cera_round_pro_demoregular', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
    color: #3d3d3d;
    margin-bottom: 6px;
}

.product_choose article{
    margin-bottom: 98px;
}

.product_choose p{
    font-family: 'cera_round_pro_demobold', sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 89%;
    color: #46a358;
}

.product_choose img{
    width: 250px;
    height: 250px;
    margin-bottom: 31px;
}

.product_sort ul{
    display: flex;
    list-style-type: none;
}

.product_sort ul a{
    font-family: 'cera_round_pro_demoregular', sans-serif;
    text-decoration: none;
    font-weight: 400;
    font-size: 15px;
    line-height: 107%;
    color: #3d3d3d;
    margin-right: 40px;
}

.product_sort ul a:hover {
    font-family: 'cera_round_pro_demobold', sans-serif;
    font-weight: 700;
    font-size: 15px;
    line-height: 107%;
    color: #46a358;
}

.product_sort li:last-of-type a{
    margin-right: 0;
}
.sort_by{
    display: flex;
    align-items: center;
    white-space: nowrap;
}

.sort_by:first-of-type p{
    margin-right: 5px;
    font-family: 'cera_round_pro_demoregular', sans-serif;
    font-weight: 400;
    font-size: 15px;
    line-height: 107%;
    color: #3d3d3d;
}

.breadcrumbs ul{
    display: flex;
    justify-content: flex-end;
    list-style-type: none;
}

.breadcrumbs ul a{
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    border: 1px solid #e5e5e5;
    border-radius: 4px;
    width: 35px;
    height: 35px;
    font-family: 'cera_round_pro_demolight', sans-serif;
    font-weight: 300;
    font-size: 18px;
    line-height: 89%;
    color: #3d3d3d;
}

.breadcrumbs li{
    margin-right: 10px;
}

.breadcrumbs ul li:last-child{
    margin-right: 0;
}

.breadcrumbs ul a:hover{
    font-family: 'cera_round_pro_demobold', sans-serif;
    background: #46a358;
    font-weight: 700;
    font-size: 18px;
    line-height: 89%;
    color: #fff;
}